@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 16px;
}

.container {
  background: var(--contentColor);
  min-width: 100%;
  /* min-height: calc(200vh - 10vh - 20vh); */
  min-height: fit-content;
  /* background: black; */
  margin: auto;
  /* border: 1px solid black; */
}

.content {
  height: 100%;
  position: relative;
}

.content .bg-img {
  /* height: fit-content; */
  height: fit-content;
  /* width: 100%; */
  padding: calc(5% + 10vh) 0 5% 0;
  background: var(--contentColor) url("../img/bg-img.jpg") no-repeat;
  /* background-position: right 60% bottom 70%; */
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 0 10%;
  z-index: -999;
}
.content .bg-img::before {
  content: "";
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.hero-header {
  width: 40%;
  color: var(--heroColor);
  align-self: center;
  z-index: 1;
}
.hero-header h1 {
  font-size: var(--headingSize);
  z-index: 1;
}
.hero-header p {
  text-align: justify;
  z-index: 1;
}

.featured-product {
  border: 10px solid var(--contentColor);
  margin: 5% 0;
  background: red;
  width: 40em;
  height: 40em;
  background: var(--contentColor) url("../img/featured-product.jpg") no-repeat;
  background-size: cover;
  align-self: center;
  z-index: 1;
}

.best-sellers {
  /* height: fit-content; */
  height: fit-content;
  background: var(--contentColor);
  padding: 1% 3%;
  /* border: 5px solid black; */
}
.best-sellers h1 {
  font-size: var(--headingSize);
  color: var(--secondaryHeadingColor);
  text-align: center;
  padding-bottom: 1%;
}

.best-sellers ul {
  /* border: 5px solid black; */
  display: flex;
  gap: 0 1%;
  justify-content: center;
  text-align: center;
  height: 100%;
  /* flex-wrap: wrap; */
}

.best-sellers ul li {
  /* border: 10px solid yellow; */
  background: #f8dea9;
  width: 300px;
  height: max-content;
  flex-wrap: wrap;
  list-style-type: none;
  flex-shrink: 1;
  padding-bottom: 12px;
  /* position: relative; */
}

.best-sellers ul li h2 {
  padding: 20px 0;
}

.best-sellers ul li div img {
  width: 80%;
  /* height: 25vh; */
}

.best-sellers ul li div p {
  padding: 20px 10% 8px 10%;
}

.order-btn {
  background: #ccd5ae;
  border: transparent;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.footer {
  height: 200px;
  background: var(--footerColor);
  z-index: 1;
  padding: 40px 0;
}

.footer-containter {
  max-width: 1400px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 50%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: var(--contentColor);
  font-weight: 500;
  position: relative;
  margin-bottom: 35px;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--contentColor);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer .footer-containter .row .footer-col ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer .footer-containter .row .footer-col ul li a {
  font-size: 16px;
  color: var(--contentColor);
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer .footer-containter .row .footer-col ul li p {
  color: var(--contentColor);
}
.footer .footer-containter .row .footer-col ul li a:hover {
  color: rgba(254, 250, 224, 0.5);
  padding-left: 20px;
}

i {
  margin-right: 10px;
}

/* Mobile */

@media only screen and (max-width: 700px) {
  .container {
    height: 100%;
  }

  .content .bg-img {
    display: none;
  }

  .content .best-sellers {
    /* height: fit-content; */
    height: 100%;
    /* width: 100%; */
    padding: calc(5% + 10vh) 0 5% 0;
    background: var(--contentColor) url("../img/bg-img.jpg") no-repeat;
    /* background-position: right 60% bottom 70%; */
    background-size: cover;
    justify-content: center;
    z-index: -999;
  }
  .content .best-sellers::before {
    content: "";
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .content .best-sellers ul li:nth-child(1),
  .content .best-sellers ul li:nth-child(3) {
    display: none;
  }

  .content .best-sellers h1 {
    color: var(--heroColor);
    padding-bottom: 2%;
  }

  /* CSS Arrow */
  .arrow {
    border: solid var(--secondaryHeadingColor);
    border-width: 0 3px 3px 0;
    /* border-radius: 50%; */
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
  .left1,
  .left2,
  .left3 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: calc(50% + 4%);
    left: calc(50% - 150px + 10px);
  }
  .right1,
  .right2,
  .right3 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: calc(50% + 4%);
    right: calc(50% - 150px + 10px);
  }

  .footer-col {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .footer-col {
    width: 100%;
  }
}
