@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main-admin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 100px 10vw 0 10vw;
  justify-content: flex-start;
  /* align-items: center; */
  width: 80vw;
  gap: 10px;
}

.content .bg-img {
  height: 1200px;
  padding: 0;
  background: var(--contentColor) url("../img/bg-img.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  gap: 0 10%;
  z-index: -999;
}

.main-admin .main-admin-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-admin .main-admin-heading .add-inv-btn {
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  width: 70px;
  border-radius: 50%;
}

.main-admin .main-admin-heading .fa-plus {
  margin: auto;
  color: #fefae0;
}

.main-admin .main-admin-heading form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form .add-item-name-div {
  width: 40%;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
}

form .add-item-price-div {
  width: 10%;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
}

form .add-item-category-div {
  width: 30%;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
}

#addInventoryForm label {
  width: 100%;
  color: #fefae0;
}

#addInventoryForm input:focus {
  outline: none;
}

#addInventoryForm .btn {
  background: var(--navbarBG);
  border-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  width: 5%;
  color: #fefae0;
}

#addInventoryForm {
  display: none;
}

hr {
  width: 100%;
  margin: 10px 0;
}

.header {
  text-indent: 5px;
  font-weight: bold;
  font-size: 44px;
  color: #fefae0;
  font-family: "Poppins", sans-serif;
}

.menu-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
}

.col-1,
.col-2,
.col-3 {
  /* border-left: solid 8px rgba(0, 0, 0, 0.2); */
  position: relative;
  padding-left: 16px;
  padding-top: 10px;
}
.col-1::before,
.col-2::before,
.col-3::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 5em;
  left: 0;
  top: 4px;
  background-color: rgba(254, 250, 224, 0.69);
}

.col-2 {
  width: 40%;
}

.col-3 {
  width: 20%;
}

.catName,
.prodName,
.statName {
  text-indent: 5px;
  font-weight: bold;
  font-size: 44px;
  color: #fefae0;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25em;
}

.catEntry,
.prodEntry,
.statEntry {
  text-indent: 5px;
  font-weight: bold;
  /* font-size: 44px; */
  color: #fefae0;
  font-family: "Poppins", sans-serif;
}

.catText,
.prodText,
.statText {
  margin-bottom: 2em;
}
