@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main-admin {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 20vh 10vw 0 10vw;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
}

.content .bg-img {
  height: fit-content;
  padding: 0;
  background: var(--contentColor) url("../img/bg-img.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  gap: 0 10%;
  z-index: -999;
}

hr {
  width: 100%;
  margin: 10px 0;
}

.header {
  text-indent: 5px;
  font-weight: bold;
  font-size: 44px;
  color: #fefae0;
  font-family: "Poppins", sans-serif;
}

.catName,
.prod {
  text-indent: 5px;
  font-weight: bold;
  font-size: 44px;
  color: #fefae0;
  font-family: "Poppins", sans-serif;
}
