@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main-admin {
  padding: 10%;
  height: 100vh;
}

.content .bg-img {
  height: fit-content;
  padding: 0;
  background: var(--contentColor) url("../img/bg-img.jpg") no-repeat;
  background-size: cover;
  display: block;
  gap: 0 10%;
  z-index: -999;
}

.header {
  font-weight: bold;
  font-size: 20px;
  color: #fefae0;
  font-family: "Poppins", sans-serif;
}

.parag {
  font-weight: bold;
  font-size: 44px;
  font-family: "Poppins", sans-serif;
  color: #fefae0;
}

table {
  min-width: 50%;
  width: max-content;
  color: var(--contentColor);
  background-color: var(--heroColor);
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th {
  border: 1px white solid;
  background-color: brown;
}
td {
  background-color: var(--footerColor);
  color: black;
}
#date {
  color: white;
}
#ready {
  border-radius: 5px;
  background-color: yellow;
}
#purchased {
  border-radius: 2px;
  background-color: green;
}
#terminate {
  border-radius: 2px;
  background-color: red;
}
#pending {
  border-radius: 5px;
  background-color: rgb(199, 184, 184);
}
#ready:hover,
#purchased:hover,
#terminate:hover {
  color: white;
}
